TFGUtilsProject/Library/
TFGUtilsProject/Temp/
TFGUtilsProject/UserSettings/
TFGUtilsProject/obj/
TFGUtilsProject/Logs/
TFGUtilsProject/.vsconfig
*.slnx
*.csproj
*.sln
UGUProject/Library/
UGUProject/Logs/
UGUProject/Temp/
UGUProject/.com-unity-codely.json
UGUProject/.codelyignore
UGUProject/.codely.packages/
UGUProject/.codely-cli/
